// ServerInterface represents all server handlers.
type ServerInterface interface {
{{range .}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(ctx echo.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}{{if .Bodies}}, requestBody {{(index .Bodies 0).Schema.TypeDecl}}{{end}}) ({{ if.IsAllEmptyResponses }}code int{{ else }}resp *{{genResponseTypeName .OperationId}}{{end}}, err error)
{{ end }}
{{ if hasGenericErrorResponse }}Error(err error) (status int, resp {{ getGenericErrorResponseName }}){{ end }}
}

{{range .}}
{{- if not .IsAllEmptyResponses }}
type {{genResponseTypeName .OperationId}} struct {
    Code int
    {{- range .Responses}}
    {{- if not .IsGenericError }}
    {{.TypeName}} {{if not .Schema.SkipOptionalPointer}}*{{end}}{{.Schema.TypeDecl}}
    {{- end }}
    {{- end }}
}
{{- end}}
{{end}}